pipeline/apl_web_activity_demo.json
{
	"name": "apl_web_activity_demo",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ads_adls_csv_dyn",
						"type": "DatasetReference",
						"parameters": {
							"directory": "inbound"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Move Data From inbound to archive",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-rename-source": {
										"value": "@concat('/ananta/inbound/',item().name)",
										"type": "Expression"
									},
									"x-ms-version": "2020-04-08",
									"Content-Length": "0"
								},
								"url": {
									"value": "@concat('https://souravadlssa1.dfs.core.windows.net/ananta/','archive/',item().name)",
									"type": "Expression"
								},
								"body": "()",
								"authentication": {
									"type": "MSI",
									"resource": "https://storage.azure.com/"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ananta"
		},
		"annotations": []
	}
}