pipeline/pl_copy_extra_input_file_iteration.json
{
	"name": "pl_copy_extra_input_file_iteration",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of input-container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_csv_folder_dyn",
						"type": "DatasetReference",
						"parameters": {
							"dp_folder": "/",
							"dp_container": "input",
							"dp_is_1st_header": true
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach input-child-item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata of input-container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of input-container').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata of output-container",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blob_csv_folder_dyn",
									"type": "DatasetReference",
									"parameters": {
										"dp_folder": "/",
										"dp_container": "output",
										"dp_is_1st_header": true
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "isDistinct",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata of output-container",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(contains(activity('Get Metadata of output-container').output.childItems, item()))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Distinct Data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": {
														"value": ".@{split(item().name, '.')[1]}",
														"type": "Expression"
													}
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_blob_csv_folder_dyn",
												"type": "DatasetReference",
												"parameters": {
													"dp_folder": "/",
													"dp_container": "input",
													"dp_is_1st_header": true
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_blob_csv_folder_dyn",
												"type": "DatasetReference",
												"parameters": {
													"dp_folder": "distinct_data",
													"dp_container": "output",
													"dp_is_1st_header": true
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-23T19:34:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}