pipeline/pl_file_names_with_count.json
{
	"name": "pl_file_names_with_count",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of input-container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_csv_folder_dyn",
						"type": "DatasetReference",
						"parameters": {
							"dp_folder": "/",
							"dp_container": "input",
							"dp_is_1st_header": true
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach input-child-item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata of input-container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of input-container').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append Variable file-names",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_names",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Variable file-count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach input-child-item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_count",
					"value": {
						"value": "@length(variables('file_names'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Variable file-names-array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach input-child-item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_names_array",
					"value": {
						"value": "@variables('file_names')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_names": {
				"type": "Array"
			},
			"file_count": {
				"type": "Integer"
			},
			"file_names_array": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-23T19:34:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}