pipeline/pl_task_5_execute_pipeline.json
{
	"name": "pl_task_5_execute_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup JSON",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Pipeline 0",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_json_file_dyn",
						"type": "DatasetReference",
						"parameters": {
							"dp_file": "pipelines_to_run.json",
							"dp_folder": "/",
							"dp_container": "input"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup CSV').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Execute Pipeline 1",
										"activities": [
											{
												"name": "Execute Pipeline 1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_task_5_to_be_executed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									},
									{
										"value": "Execute Pipeline 2",
										"activities": [
											{
												"name": "Execute Pipeline 2",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_task_5_to_be_executed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									},
									{
										"value": "Execute Pipeline 3",
										"activities": [
											{
												"name": "Execute Pipeline 3",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_task_5_to_be_executed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									},
									{
										"value": "Execute Pipeline 4",
										"activities": [
											{
												"name": "Execute Pipeline 4",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_task_5_to_be_executed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									},
									{
										"value": "Execute Pipeline 5",
										"activities": [
											{
												"name": "Execute Pipeline 5",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_task_5_to_be_executed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Fail",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "Pipeline Execution Failed due to Wrong File Name Input",
											"errorCode": "1806530"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline 0",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_task_5_to_be_executed",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Lookup CSV",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline 0",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_csv_file_dyn",
						"type": "DatasetReference",
						"parameters": {
							"dp_file": "pipelines_to_run.csv",
							"dp_folder": "/",
							"dp_container": "input",
							"dp_is_1st_header": true,
							"dp_quote_character": "\"",
							"dp_escape_character": "\\",
							"dp_column_delimiter": ",",
							"dp_row_delimiter": "@base64ToString('DQo=')"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-08-13T11:46:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}