pipeline/spl_00_demo.json
{
	"name": "spl_00_demo",
	"properties": {
		"activities": [
			{
				"name": "Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach inbound file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_00_demo",
						"type": "DataFlowReference",
						"parameters": {
							"run_id": "'default'",
							"batch_nm": 1
						},
						"datasetParameters": {
							"SourceDB": {
								"table_name": "demo_tb"
							},
							"Jsontgt": {
								"dp_folder": "try/outbound",
								"dp_container": "output",
								"dp_is_1st_header": "0"
							},
							"successtgt": {
								"table_name": "demo_op_tb"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach inbound file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get inbound files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get inbound files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Archive each inbound file",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-rename-source": {
										"value": "@concat('/', encodeUriComponent(item().name))",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://souravadlssa1.blob.core.windows.net/sourav/inbound/', encodeUriComponent(item().name))",
									"type": "Expression"
								},
								"body": "()"
							}
						}
					]
				}
			},
			{
				"name": "Get inbound files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_csv_folder_dyn",
						"type": "DatasetReference",
						"parameters": {
							"dp_folder": "inbound",
							"dp_container": "souravcontainer",
							"dp_is_1st_header": true
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "Sourav"
		},
		"annotations": []
	}
}